<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
    <title>歡迎光臨，這是會員頁</title>
</head>
<body>
    
    <form action="/member" method="GET">
        <section class="container">
            <h1>{{username}}<br>歡迎光臨，這是會員頁。</h1>
            <div class="search_area">
                <label for="site_search">查詢會員姓名</label><br>
                <input class="search_bar" type="text" id="site_search" placeholder="請輸入要查詢的會員姓名">
                <input class="search_btn" type="button" name="submit" value="查詢" onclick="search();">
                <p class="urname" id="rname">按查詢來查一下吧</p>
            </div>
           
            <h3><a href="/signout">登出系統</a></h3>
        </section>
    </form>
    <script src="{{url_for('static',filename='active.js')}}"></script>
</body>
</html>